{% trans_default_domain 'FOSUserBundle' %}
<h2>S'inscrire</h2>
<hr />
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal col-md-12">
	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}
	<div class="form-group row">
		{{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-md-3'}}) }}
		{{ form_errors(form.username) }}
		<div class="col-md-9">
			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.email, "Adresse e-mail ", {'label_attr': {'class': 'col-md-3'}}) }}
		{{ form_errors(form.email) }}
		<div class="col-md-9">
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-md-3'}}) }}
		{{ form_errors(form.plainPassword.first) }}
		<div class="col-md-9">
			{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'col-md-3'}}) }}
		{{ form_errors(form.plainPassword.second) }}
		<div class="col-md-9">
			{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	{{ form_rest(form) }}
	<div class="row">
		<button type="submit" class="form-control btn btn-success" id="boutonFinal"><span class="glyphicon glyphicon-ok col-md-3"></span> Confirmer</button>
	</div>
</form>